<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home Site</title>
<!--     <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/normalize.css" rel="stylesheet" />
    <link href="../static/css/user.css" rel="stylesheet" /> -->
    <link href="{{ url_for('pygments_css') }}" rel="stylesheet" />
</head>
<body>
    <h1><a href="{{ url_for("index") }} ">My Site</a></h1>
    {% block content %}
        <p>Default content to Be Displayed !</p>
    {% endblock %}
</body>
</html>
